nav.main-nav {
  & > ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1em;

    & > li {
      padding: 0.5em;
      list-style-type: none;
      cursor: pointer;

      &:hover {
        background-color: #eeeeee;
      }
    }
  }
}
