:host {
  display: flex;
  flex-direction: row;
  gap: 2em;

  aside {
    flex: 0 1 300px;
    background-color: #eeeeee;
  }

  div.main {
    flex: 1;
  }
}

.project-phases-container {
  display: flex;
  flex-direction: column;
  gap: 5em;
}
