.priority {
  &.started {
    background-color: #ffcb15;
  }

  &.in-progress {
    background-color: #00dbdb;
  }

  &.completed {
    background-color: #00ce35;
  }
}


td {
  padding: 0.5em;
  vertical-align: top;
  border: solid 1px gray;
}


td.update-mode {
  min-height: 90px;
  padding: 0;

  .actions {
    padding: 0.5em;
  }

  input, textarea, select {
    border: none;
    padding: 0.5em;
    width: 100% !important;
    height: 100% !important;
  }

}
