/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.basic-form {
  display: flex;
  flex-direction: column;
  gap: 2em;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0;

  }
}
